{:jvm-opts ["-Duser.language=en" "-Duser.country=US" "-Dfile.encoding=UTF-8"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  http-kit/http-kit   {:mvn/version "2.8.0-beta3"}
  cheshire/cheshire   {:mvn/version "5.12.0"}}
 :aliases
 {:dev
  {:jvm-opts ["-ea"]
   :extra-paths ["dev" "test"]
   :extra-deps 
   {io.github.tonsky/clj-reload {:mvn/version "0.4.3"}
    io.github.tonsky/duti       {:git/sha "78bbf61953b9a685d02ff8cc63d04e4e8da81eb9"}}}
  :uberdeps
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
   :replace-paths []}}}