{:jvm-opts ["-Duser.language=en" "-Duser.country=US" "-Dfile.encoding=UTF-8"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  http-kit/http-kit   {:mvn/version "2.8.0-beta3"}
  cheshire/cheshire   {:mvn/version "5.12.0"}}
 :aliases
 {:dev
  {:jvm-opts ["-ea"]
   :extra-paths ["dev" "test"]
   :extra-deps 
   {org.clojure/tools.namespace {:mvn/version "1.4.4"}
    lambdaisland/deep-diff2     {:mvn/version "2.10.211"}}}
  :uberdeps
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
   :replace-paths []}}}